<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" >
    <title>Title</title>
</head>
<body>

<a href="/post/new">Nuevo</a>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Texto</th>
    </tr>
    <tr th:each="post: ${posts}">
        <td th:text="${post.id}">
        </td>
        <td th:text="${post.text}">

        </td>
        <td>
            <a th:href="@{/post/}+${post.id}">Ver</a>
            <a th:href="@{/post/edit/}+${post.id}">Editar</a>
            <a href="/post">Borrar</a>

        </td>
    </tr>
</table>

</body>
</html>